# Ignore everything by default
*

# Allow the specific config folders
!sway/
!sway/**

!waybar/
!waybar/**

!foot/
!foot/**

!rofi/
!rofi/**

!swaync/
!swaync/**

!nvim/
!nvim/**

!grub-themes/
!grub-themes/**

!commands/
!commands/**

!antimicrox/
!antimicrox/**

# Allow specific files
!.gitignore
