abrt/
balena-etcher/
BraveSoftware/
Code/
dconf/

GIMP/
libreoffice/
mimeapps.list
pavucontrol.ini
QtProject.conf

Thunar/
vdirsyncer/
xfce4/
composer/
dosbox/
GNS3/

lxqt/
mpv/
pulse/
rofi/
sway.config
user-dirs.dirs

BraveSoftware/
customver1/
evolution/

gtk-3.0/
menus/

qBittorrent/
sealert.conf

user-dirs.locale
xarchiver/
