# Ignore everything by default
*

# But allow the specific config folders you actually want to share
!sway/
!waybar/
!foot/
!rofi/
!swaync/
!nvim/
!grub-themes/
!commands/
!antimicrox/

# You can also allow specific files
!.gitignore


